<h1>New message</h1>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input name="author" required matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <input name="message" required matInput ngModel/>
      </mat-form-field>
      <div>
        <button
          type="submit"
          [disabled]="f.invalid"
          mat-raised-button
          color="primary"
        ><span>Save</span>
          <span>
            <mat-spinner *ngIf="isUploading"></mat-spinner>
          </span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
