<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Messages</h1>
  <a routerLink="/messages/new" mat-button>NEW MESSAGE</a>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="!isFetching; else loading">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.lt-lg="33%"
    fxFlex="25%"
    *ngFor="let message of messages; let i = index"
  >
    <mat-card>
      <mat-card-title>Author: {{ message.author }}</mat-card-title>
      <mat-card-content>
        <p>Message: <strong>{{ message.message }}</strong></p>
        <p>{{ message.datetime.substr(0, 10) }}</p>
        <p>{{ message.datetime.substr(11, 8) }}</p>
        <p>#{{ i + 1 }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>





